# 1 - Definição dos Dados

## 1.1 -Qual o cenário em que está trabalhando?

Histórico de vendas de uma industria e comércio de confecção.

## 1.2 - Qual a problemática que está tentando resolver?

Estimativa de vendas por período.

## 2.3 - Quais os dados utilizados e como foram obtidos?

Solicitação de uso dos dados para empresa. Dependendo dos resultados, serão o modelo será testado em produção.

In [1]:
import pandas as pd

from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

### Variáveis definidas no ambiente usando o python-dotenv

https://pypi.org/project/python-dotenv/

In [2]:

load_dotenv()

username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
database = os.getenv('database')
sql = os.getenv('sql')

In [3]:
engine = create_engine(f'mssql+pymssql://{username}:{password}@{host}/{database}?charset=utf8')

In [4]:
df = pd.read_sql(sql,engine)
df.columns = [c.lower() for c in df.columns]

In [5]:
df.head()

,refer,descricao,categoria,colecao,grupo,tecido,linha,cdfisc,fabricacaopropria,datacriacao,...,qtd,vlunitario,vldesconto,loja,seqvenda,forma_pagto,tabela,cliente,dtvenda,hora
0,26783,SHORT MINI FM (JEANS),0.0,2491.0,2.0,99.0,2.0,62046200,True,None,...,1.0,104.9,0.00,1.0,206.0,1.0,2.0,44180.0,2021-09-28,10:22
1,3350,BLUSA TEE (MALHA),NaN,2470.0,5.0,99.0,3.0,62069000,True,None,...,1.0,34.9,17.45,1.0,254.0,1.0,2.0,7744.0,2021-09-28,10:25
2,26783,SHORT MINI FM (JEANS),0.0,2491.0,2.0,99.0,2.0,62046200,True,None,...,1.0,104.9,0.00,1.0,313.0,1.0,2.0,7736.0,2021-09-29,10:27
3,26930,SHORTS CANOA FM (PLANO),NaN,2488.0,2.0,99.0,2.0,62046200,True,None,...,1.0,94.9,47.45,1.0,313.0,1.0,2.0,7736.0,2021-09-29,10:27
4,306086,CARDIGAN HELOISA FM (MALHA),0.0,2491.0,5.0,99.0,2.0,61069000,True,None,...,1.0,84.9,0.00,1.0,313.0,1.0,2.0,7736.0,2021-09-29,10:27

In [6]:
df.to_csv("data/vendas.csv", index=False)